/* // DICEROLL PAGE */
.project img {
	width: 280px;
	height: 220px;
}
.figure-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
	cursor: pointer;
}
.project section {
	flex: 1 100%;
}
.project ul > li {
	display: inline;
}
.project ol {
	margin-left: 2rem;
	text-align: left;
}
.project aside {
	width: 80%;
}
